// Colors
$brite-orange: #f6682F;
$brite-red: #f86044;
$red: #ff584c;
$cerise: #fd348b;
$brite-blue: #0093D7;
$aqua: #39c2c9;
$grey: #f8f8f8;
$light-grey: #EFF2F5;
$medium-gray: #f8f8fa;
$extra-light-grey: #EFF2F5;
$border-grey: #d2d6df;
$white: #ffffff;
$charcoal: #45494E;
$dark-charcoal: #363a43;