// Colors
$brite-orange: #f6682F;
$brite-red: #f86044;
$red: #ff584c;
$cerise: #fd348b;
$brite-blue: #0093D7;
$aqua: #39c2c9;
$green: #00ab44;
$grey: #f8f8f8; // rename: grey-body-background
$light-grey: #EFF2F5;
$medium-gray: #f8f8fa;
$extra-light-grey: #EFF2F5; // borders and box shadows (porcelain)
$border-grey: #d2d6df; // borders
$white: #ffffff;
$charcoal: #45494E;
$charade: #282c35; //default text color
$dark-charcoal: #363a43;
$light-charcoal: #666a73;
$nevada: #666a73; // footer border 

